/**
 * Basic typography style for copy text
 */
body {
  color: $text-color-light;
  font: normal 100% / 1.8 $text-font-stack;
  line-height: 2;
  letter-spacing: -.25px;
  font-weight: 400;

  @include screen-large {
    font-size: calc(100% + .15vw);
  }
}

strong {
  font-weight: 700;
}