// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Copy text color (ligh variant for dark backgrounds)
/// @type Color
$text-color-light: rgb(255, 255, 255) !default;

/// Main contrast color
/// @type Color
$contrast-color: #FF6700 !default;

/// Background color (light)
/// @type Color
$bg-light: #363655 !default;

/// Background color (dark)
/// @type Color
$bg-dark: #262626 !default;

/// Header background color
/// @type Color
$header-bg: #262626;






/// Maximum content width
/// @type Length
$content-max-width: 1180px !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/' !default;
