// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.header {

    width: 100%;
    height: $header-height;
    position: fixed;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in;
    background-color: $header-bg;

    &--intro {
        background-color: #1A4064;
    }

    &--about {
        background-color: #F0F8FF;
        @include links-dark;
    }

    &--skills {
        background-color: #234B8B;
    }

    &--projects {
        background-color: #FFF;
        @include links-dark;
    }

    &--contact-me {
        background-color: #14283D;
    }
}