// -----------------------------------------------------------------------------
// This file contains all styles related to the content sections.
// -----------------------------------------------------------------------------

.section {
    display: flex;
    align-items: center;
    padding-bottom: $header-height; // helps to align contents vertically
}

.section__title {

    font-weight: 700;
    font-size: 250%;
    margin: 2rem 0 3rem 0;
    line-height: 1;

    &--main {
        font-size: 300%;
        text-align: center;
    }
}

.section__subtitle {

    font-weight: 300;
    font-size: 140%;
    text-align: center;
}

.section--intro {
    background-color: #1A4064;
    @include text-light;
}

.section--about {
    background-color: #F0F8FF;
    @include text-dark;
}

.section--skills {
    background-color: #234B8B;
    @include text-light;
}

.section--projects {
    background-color: #FFF;
    @include text-dark;
}

.section--contact-me {
    background-color: #14283D;
    @include text-light;
}